.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 10%;

  box-sizing: border-box;
  &:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffa92c, inset 0 0 10px #ffa930, 0 0 30px red;
    background: radial-gradient(#ffa92c, #ff7709, #ff0000a1);
  }
}

.item {
  position: absolute;

  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e9e8e3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;

  border-radius: 50%;

  border: 1px solid rgba(1, 5, 6, 0.7);
  outline: 1px solid rgba(255, 169, 44, 0.7);
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: 1px solid rgba(255, 255, 255, 0.7);
    outline-offset: -1px;
    border-radius: 50%;
  }
}


.changed {
  box-shadow: 0 0 10px red;
  outline-color: #9d0000;
}

.type_noble {

  background-size: 80%;
  background-image: url("@images/meeples/noble.png");
}

.type_farmer {
  background-size: 60%;

  background-position: center right 20%;
  background-image: url("@images/meeples/farmer.png");
}

.type_sheep {
  background-image: url("@images/meeples/sheep.png");
}

.type_bear {
  background-image: url("@images/meeples/bear.png");
}

.type_boar {
  background-image: url("@images/meeples/boar.png");
}