.type {
    z-index: 1;
}

.image {
    position: absolute;
    left: -6%;
    top: -9%;
    width: 114%;
    height: 114%;
}

.container {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.05em 0 0 0;
}

.wait {
    z-index: 7;
}

.main {
    z-index: 5;
}

.modified {
    box-shadow: 0 0 10px red;
}

.area {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    &:hover:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15%;
        height: 15%;
        border-radius: 50%;
        box-shadow: 0 0 10px #ffa92c, inset 0 0 10px #ffa930, 0 0 30px red;
        background: radial-gradient(#ffa92c, #ff7709, #ff0000a1);
    }
}

.background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.counter {
    position: relative;
    z-index: 2;
    text-shadow: 0 0 10px #fff, 1px 1px 0 black, -1px -1px 0 #ffa92c;
    color: #fff;
}

.center {
    position: absolute;
}

.selected {
    background: #00a34496;
    box-shadow: 0 0 30px #00a34496;
}

.first {
    background: #a3000096;
    box-shadow: 0 0 30px #a30000;
}

.swamp {
    background-color: #75007120;
}

.forest {
    background: #08960020;
}

.caves {
    background: #80808040;
}

.next {
    box-shadow: 0 0 1.5vw yellow;
    &:before, &_locationsMode:before {
        content: '';
        position: absolute;
        display: block;
        background: url("/images/location_next.svg") center center no-repeat;
        background-size: 100%;
        width: 180%;
        height: 180%;
        opacity: 0.58;
        top: -40%;
        left: -40%;
        z-index: 1;
    }
}

.last {
    background: #00677896;
    box-shadow: 0 0 30px #006778;
    &:before {
        content: '';
        position: absolute;
        display: block;
        background: url("/images/paw.svg") center center no-repeat;
        background-size: 70%;
        width: 100%;
        height: 100%;
        opacity: 0.58;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &_locationsMode {
        border-radius: 50%;
        outline-offset: 0.5vw;
        outline: 0.5vw solid #00677896;
    }
}
