.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &:hover:before{
    position: absolute;
    content: '';

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
  }
}

.wounds {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.injure {
  position: absolute;
  z-index: 3;
  width: 50%;
  left: -60%;
  top: -60%;
  cursor: pointer;
  display: flex;
  align-items: start;
}

.injureImage {
  width: 100%;
  filter: drop-shadow(0 0 5px white);
}

.markers {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.area {
  position: absolute;
  padding: 0.4vw;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
}

.icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@mixin hunterBorderColor($color) {
  border: 0.4vw solid $color;
  box-shadow: 0 0 0.4vw $color;
}

.selected {
  @include hunterBorderColor(#000);
  outline: 0.4vw double rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0.2vw white;
  outline-offset: -0.4vw;
}

.assar {
  @include hunterBorderColor(#5fc3d5);
}

.iona {
  @include hunterBorderColor(#f6dd00);
}

.krim {
  @include hunterBorderColor(#5cb12f);
}

.varja {
  @include hunterBorderColor(#b84240);
}

.grimgier {
  @include hunterBorderColor(#974399);
}

.helga {
  @include hunterBorderColor(#ed7b18);
}
