
.button {
  position: absolute;
  cursor: pointer;
  left: -40%;
  top: -35%;
  //border-radius: 50%;
  border-radius: 50%;
  //background: url("/images/down.png") top 40% left 50% no-repeat;
  background: #00000030 url("/images/png/hourglass.png") center center no-repeat;
  background-size: 80%;
  filter: drop-shadow(0 0 5px black);
  &:active {
    margin-top: 1px;
    margin-left: 1px;
  }
}

.markers {
  position: absolute;
  opacity: 0.9;
  top: -7%;
  left: -7%;
  width: 114%;
  height: 114%;
  filter: drop-shadow(0 0 1px black);
}
