.container {
  aspect-ratio: 1;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  position: relative;

  &:hover {
    .arrow {
      display: none;
    }

    .hovered {
      display: inline-block;
    }
  }
}

.arrow {
  position: absolute;
  top: 0;
  lefT: 0;
  display: inline-block;
  max-width: 100%;
  transform-origin: center center;
  filter: drop-shadow(0 0 10px #00000070);

  &:hover {
    filter: drop-shadow(0 0 10px #ffa92c);
  }
}

.hovered {
  display: none;
}

.left {
}

.right {
  transform: rotate(180deg) scaleY(-1);
}

.top {
  transform: rotate(90deg);
}

.bottom {
  transform: rotate(-90deg);
}