.icon {
  //filter: drop-shadow(0px 0px 20px black);
}

.container {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -11px;
}

.icon {
  position: absolute;
  transform-origin: 11px 10px;
  filter: drop-shadow(0 0 2px black);
}

.last {
  color: red;
}

.text {
  line-height: 1;
  position: absolute;
  z-index: 1;
  //top: 0;
  //left:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 2px white;
}