.movement {
  position: fixed;
  z-index: 7;
  @media (orientation: landscape) {
    right: 2vh;
    bottom: 2vh;
  }
  @media (orientation: portrait) {
    right: 3vw;
    bottom: 20vw;
    @media (min-height: 1024px) {
      bottom: 3vw;
    }
  }
}

.primary {
  position: fixed;
  background: #00000080;
  padding: 1em 0;

  box-sizing: border-box;
  z-index: 3;
  top: 0;
  left: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 1px 0px 10px #ffffff20;
  font-size: 1.5vmin;
  @media (orientation: landscape) {
    @media (min-height: 600px) {
      font-size: 10px;
    }
    @media (min-height: 1024px) {
      font-size: 10px;
    }
  }
  @media (orientation: portrait) {
    font-size: 1.7vw;
    padding: 1em 1em 1em;
    flex-direction: row;
    bottom: 0;
    top: auto;
    height: auto;
    width: 100%;
    @media (min-height: 1024px) {
      padding: 0 2em 1em 1em;
      font-size: 12px;

      top: 0;
      bottom: auto;
    }
  }
}

.history {
  padding: 1em 0.4em 0;
}

.mode {
  position: relative;
  padding: 0.5em 1em 0.3em 0.6em;
  left: 0.5em;
}

.clear {
  position: relative;
  width: 6em;
  height: 5.5em;
}

.control {
  max-width: 8em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1em;

  order: 2;
  @media (orientation: portrait) {
    flex-direction: row;
    &_primary {
      justify-content: start;
    }
    &_back {
      order: 1;
    }
  }
}

.zoom {
  padding-left: 1.1em;
  @media (orientation: portrait) {
    padding-top: 1.1em;
  }
}

.back {
  position: relative;
  left: -0.1em;
}