@font-face {
  font-family: 'Optimus Princeps';
  src: url('/fonts/optimusprinceps.woff2') format('woff2'),
  url('/fonts/optimusprinceps.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optimus Princeps';
  src: url('/fonts/optimusprincepssemibold.woff2') format('woff2'),
  url('/fonts/optimusprincepssemibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.page {
  margin: 0;
  font-family: 'Optimus Princeps', sans-serif;
  background: #e7ece9 url("images/background.png") top center;
  background-size: cover;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.jtk-connector {
  z-index: 4;
}
.jtk-connector path {
  stroke: #ffffff30;
  filter: drop-shadow(0 0 10px white);
  stroke-width:0.7vw;
}