.primary {
  position: fixed;
  background: #00000080;
  padding: 1em 0;

  box-sizing: border-box;
  z-index: 3;
  top: 0;
  left: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  box-shadow: 1px 0px 10px #ffffff20;
  font-size: 1.9vmin;
  @media (min-height: 400px) {
    font-size: 1.5vmin;
  }
  @media (min-height: 600px) {
    font-size: 10px;
  }
  @media (min-height: 1024px) {
    font-size: 10px;
  }
}

.history {
  padding-top: 1em;
}

.clear {
  position: relative;
  left: 0.4em;
  width: 6em;
  height: 5.5em;
}

.control {
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.zoom {
  padding-left: 1.1em;
}

.back {
  position: relative;
  left: -0.1em;
}