.primary {
  position: fixed;
  background: #00000050;
  padding: 10px 0;

  box-sizing: border-box;
  z-index: 3;
  top: 0;
  left: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clear {
  position: relative;
  left: 4px;
  width: 60px;
  height: 55px;
}

.control {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  box-sizing: border-box;
  &_zoom + &_zoom {
    margin-top: -20px;
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history {
  padding-top: 10px;
  //padding-left: 4px;
  padding-left: 12px;
  .control {
    width: 65px;
    height: 70px;
  }
}

.zoom {
  padding-left: 11px;
  .control + .control {
    margin-top: -10px;
  }
}

.back {
  position: relative;
  lefT: -8px;
}